<% provide :page_title, 'New Question' %> <%# метод provide может передовать что то методу вспомогательному yield(в нашем случае 
который находится в основном файле application.html.erb)%>

<% currently_at 'New' %>

<h1 class="mb-4">New question</h1> 

<%= render 'form' %>